.feed {
    padding-top: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: unset;
}

.masonryFeed {
    padding-top: 20px;
    gap: 20px;

    display: flex;
}

.masonryColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}