.container {
    position: relative;
}

.container .unread {
    position: absolute;
    top: -5px;
    right: -30px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .container .unread {
        padding: 2px 5px;
        font-size: 12px;
        right: -17px;
    }
}