.scroll {
    position: sticky;
    bottom: 5px;

    border-radius: 5px;
    width: 100%;
    height: 30px;
    background-color: rgba(138, 130, 130, 0.2);

    text-align: center;
    color: var(--neutral-dark);
}

.scroll:hover {
    background-color: rgba(138, 130, 130, 0.5);
    color: var(--neutral-light);
    cursor: pointer;
}