.scroll {
    position: sticky;
    bottom: 5px;

    border-radius: 5px;
    padding: 0 5px 0 5px;
    height: 30px;
    background-color: rgba(138, 130, 130, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: var(--neutral-dark);
}

.scroll:hover {
    background-color: var(--primary-dark);
    opacity: 70%;
    cursor: pointer;
}

.scroll:hover .text {
    color: var(--primary-light);
}