.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.searchBar {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}