.container {
    padding: 10px;

    background-color: var(--background-alt);;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
}