.container {
    background-color: var(--background-alt);
    border-radius: 20px;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100%;
}

.optionBox {
    padding: 10px 20px;
    position: relative;
}

.optionBoxTitle {
    position: absolute;
    left: 20px;
    top: -11px;
    background-color: var(--background-alt);
    padding: 0 5px;
}