.container {
    background-color: var(--background-alt);
    border-radius: 20px;

    max-width: 500px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    height: 30px;
    width: 100%;

    background-color: var(--background-alt);
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--neutral-main);

    padding-left: 10px;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: var(--neutral-main);
}

.formItem {
    padding: 10px;
}

.error {
    color: red;
}

.icon {
    position: absolute;
    top: -90px;
    left: 20px;

    width: 100px;
    height: 100px;
}

.header {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;

    font-size: 24px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 20px;
}

.content .main button {
    width: 140px;
}