:root {
  --primary-dark: #006b7d;
  --primary-dark-filter: invert(28%) sepia(100%) saturate(456%) hue-rotate(141deg) brightness(99%) contrast(101%);
  --primary-main: #00d5fa;
  --primary-light: #e6fbff;

  --neutral-dark: #333333;
  --neutral-main: #666666;
  --neutral-medium-main: #858585;
  --neutral-medium: #a3a3a3;
  --neutral-light: #f0f0f0;

  --background-default: #f6f6f6;
  --background-alt: #ffffff;
}

.Container {
  max-width: 1200px;
  padding: 10px;
  display: flex;
  flex: 0 0 100%;
}

.MenuContainer {

  transition: transform 0.4s linear, box-shadow 0.4s linear;
}

.MainContainer {
  position: relative;

  margin: 10px;
  display: flex;
  flex-direction: column;
  
  gap: 10px;
  width: 100%;

  transition: transform 0.4s linear, box-shadow 0.4s linear;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MenuToggleButton {
  display: none;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 1;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .MenuToggleButton {
    display: block;
  }

  .Container {
    overflow: hidden;
    justify-content: center;
  }

  .MenuContainer {
    transform: translateX(-15rem);
  }

  .MainContainer {
    margin: 0;
    transform: translateX(-85px);
    flex: none;
  }

  .Container-toggled .MenuContainer {
    transform: translateX(0) translateY(0);
    position: fixed;
    left: 0;
    top: 80px;
  }

  .Container-toggled .MainContainer {
    box-shadow: 20px -10px gray;
    transform: rotateX(4deg) rotateY(60deg)
               translateY(2rem) translateX(13rem);
    min-height: 600px;
  }
}


/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .MenuContainer {
    max-width: 150px;
  }

  .MainContainer {
    padding-left: 10px;
  }
}