.container {
    padding: 10px;

    background-color: var(--background-alt);;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: space-around;

    min-height: 400px;
}

.options {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.content {
    padding-top: 20px;
    width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .container {
    }
}